extends ./layout.pug  
block contenido        
  - var id
  - var url
  - for (var i = 0; i < posts.length; i++) {
    - id = posts[i]._id
    - url = posts[i].image.url 
    a(href= '/nota/'+id, style='text-decoration: none; color: black;')
      article
        img( src = url, alt='aceiteros')
        .titulo #{posts[i].title}
        .cuerpo
          | !{posts[i].content.brief}
  - }
