extends ./layout.pug  
block contenido        
  - var slug
  - var url
  - for (var i = 0; i < posts.length; i++) {
    - slug = posts[i].slug
    - url = posts[i].image.url 
    a(href= '/nota/'+slug, style='text-decoration: none; color: black;')
      article
        img( src = url, alt='aceiteros')
        .titulo #{posts[i].title}
        .cuerpo
          | !{posts[i].content.brief}
  - }
